@import "variantes";
.formcontacto {
    h2 {
        text-align: center;
        margin-top: $titulo-margin;
        font-size: $titulo-size;
        
    }
    .btn {
        margin-top: 1rem;
    }
}
@media (max-width:991px){
    .botones {
        text-align: center;
    }
}