@import "variantes";
/*Header*/
.header {
    background: $backblue;
    border-radius: 0 0 $boxborder $boxborder;
    
    .header__logo{
        display: flex;
        justify-content: center;

    
    }
    .header__nav {
        padding: .5em;
        margin: 0 2em;
        border-radius: $boxborder;
        
        .header__nav__ul {
            li {
                a {
                    margin: auto 2em;
                    &:hover{
                    transform: translateY(-5px) ;
                    color:$backblue ;
                    transition: all 0.5s; 
                    }
                
            }
        }
        #resaltado{
            border-bottom: $bordergray;
        }
            
        }
    }
}
@media (max-width:1199px){
    #resaltado{
        border-bottom: none !important;
    }
}