@mixin fotografia {
    margin: 10px;
    width: 300px;
    max-height: 300px;
    object-fit: cover;
    filter: grayscale(100%);
    border-radius: 5px;
    
}
@import "variantes";
.mainintegrantes {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows  : auto;
    align-items: center;
      
    
   
    h2{
        margin-bottom: 1rem;
        font-size: $titulo-size;
        color:black;
        margin: 2rem;
        
    }
    
    .mainintegrantes__socios {
        justify-content: start;
        text-align: center;
        h2 {
            margin: $titulo-margin;
            font-size: $titulo-size;
        }
        
        p{
            margin:5px;
            font-size: 1rem;
            color: $texto-color;
            &::first-line{
                font-weight: bolder;
            }
        }
        img{
            @include fotografia;
            &:hover{
                filter: none;
                transition: filter .5s;
            }

        }
    }
    .mainintegrantes__asociados {
        align-self: start;
        text-align: justify;
        
        h2 {
            margin: $titulo-margin;
            font-size: $titulo-size;
        }
        ul {
            padding-left: 0;
            list-style:disc;
            text-align: justify;
            
            li{
                padding: 1rem;
                list-style-type: none;
                color:$texto-color;
                .icono__integrante{
                    font-size: 15px;
                    padding: 1rem;
                }
               
            
            }
        }
    }
}
@media (max-width:725px) {
    .mainintegrantes {
        grid-template-columns: auto;
        .mainintegrantes__asociados {
            text-align: center;
            ul{
                text-align: center;
            }
        }
    }
    
}