@import "variantes";
.mainservicios {
    .mainservicios__cont{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        h2{
            text-align: center;
            margin: $titulo-margin;
            font-size: $titulo-size;
        }
        p{
            font-size: 1.2rem;
            text-align: center;
        }
        ul{
            list-style-type: none;
            text-align: justify;
            margin-left: 6rem;
        }
    }
}