@import "variantes";
@mixin cajatitulo {
    position: relative;
    border-right: $bordergray;

}
@mixin titulo {
    position: absolute;
    top: 40%;
    left: 30%;
}
@mixin titulo_mobile{
    position:none;
    top:-40%;
    left:-30%;
}


@media (max-width:991px) {
    .mainservicios__cont {
        .titulo {
            
            border-bottom: $bordergray;
            border-right: none !important;
            h2{
                position:unset !important;
                text-align: center;
                
            }
        }

    }
    .mainservicios__aran {
        .titulo {
            
            border-bottom: $bordergray;
            border-right: none !important;
            h2{
                position:unset !important;
                text-align: center;
                
                
            }
        }
    }
    

}
.mainservicios__cont {
    padding: 20px;
    .titulo {
        @include cajatitulo;
        
        h2{
            @include titulo;
            font-size:$titulo-size; 
        }
    }
    
    p{
        color: $texto-color;
    }
    ul{
        list-style: none;
        li{
            color: $texto-color
        }
    }
}
.mainservicios__aran {
    padding: 20px;
    .titulo {
        @include cajatitulo;
        
        h2{
            @include titulo; 
            font-size:$titulo-size;
        }
    }
    ul {
        list-style-type:none;
        li{
            color:$texto-color
        }
    }
    p{
        color: $texto-color;
        a{
            text-decoration:none;
            color: $texto-color;
            font-style: italic;
            
            &:hover{
                text-decoration: underline;

            }
        }
    }
}



