/*Variantes*/
$backblue: rgb(36, 36, 100);
$boxborder: 0.5em;
$bordergray: 1px solid lightgray;
$borderlinksfooter: 1px solid darkcyan;
$titulo-size: 1.7rem;
$titulo-margin: 25px;
$texto-color: rgb(56, 56, 66);