@import "variantes";
@import "header";
@import "footer";
@import "novedades";
@import "integrantes";
@import "servicios";
@import "contacto";
@import "articulonov";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    
    
}


/* Index*/ 
/*Descripcion*/
.index__descripcion {
    padding: 2em;
    text-align: justify;
    h4 {
        border-bottom: $bordergray;
        font-size: $titulo-size;

    }
    p{
        color:$texto-color;
        font-size: 1.1rem;
    }
    
}

/*Links*/
.index__links {
    padding: 2em;
    background-image: linear-gradient(white, lightgray);
    height: 50%;
    border-radius: $boxborder;
    
    
    h4 {
        border-bottom: $bordergray;
        margin-left: 1rem;
        font-size: $titulo-size;

    }
    .index__links__ul {
        list-style-type: none;
        
        li {
            margin-top: 20px;
            a{
                text-decoration: none;
                color:$texto-color;
                font-size: 1.1rem;
                &:hover {
                    color: $backblue;
                }
            }
        }
        
        
    }
}

    

/* Clientes*/
.index__clientes {
    width: 100%;
    background-color: lightgray;
    height: 5em;
    text-align: center;  
    border-radius: $boxborder;
   
    .splide__slide {
        
        align-self: center;

    }
    
    .splide__pagination{
        li{
            display: none;
        }
    }
    
   
    img {
        width: 100px;
        height: auto;
        margin: 10px 15px;
        padding: 5px;
        align-items: center;
        filter: grayscale(100%);
        vertical-align: middle !important;
        &:hover{
            filter: none;
            transition: filter 0.3s;
        }
        
    }
    

}

/* Ultimas nov*/
.index__ultimasnov { 
    text-align: center;
    
    border-radius: $boxborder;
    
    
    .carousel-control-prev-icon  {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%21f01' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%21f01' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
    h4{
        font-size: $titulo-size;
        margin-top: 1em;
        border-bottom: $bordergray;
    }

 
        img{
            width: 450px;
            height: 240px;
            border-radius: $boxborder; 
            margin: 2em 0;
            
        }
        

}
@media (max-width:990px){
    .index__links{
        text-align: center;
        
    }
}
@media (max-width:767px){
    .index__clientes {
        .splide__slide{
            margin:0 30px;
        }
    }
}